<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regenerate</title>
    <link rel="stylesheet" href="/css/output.css" />
    <script src="/js/regenerate_link.js"></script>
</head>
<body>
    <h1>Sorry Your link is expired!!!!</h1>
    <div class="mt-8 text-center w-1/2 mx-auto lg:w-1/4">
        <button class="text-sm font-bold tracking-wide bg-[#334155] text-gray-100 p-3 rounded-lg w-full 
                      focus:outline-none focus:shadow-outline" onclick="newlink()">Regenerate</button>
      </div>
      <h4 id="rgl"></h4>
</body>
</html>