<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/output.css" />
</head>
<body>
    <nav>
        <%- include('../partials/navbar.ejs') %>
    </nav>
    <h2 class="font-medium text-black-600 dark:text-blue-500">UPCOMING AUCTIONS LIST</h2>
    <br>
    <%- include("../partials/card.ejs") %>
</body>
</html>
